<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'app.css')}}" type="text/css" media="screen" />
    <!-- <link rel="stylesheet" href="../static/app.css" type="text/css" media="screen" /> -->
    <link rel="icon" href="screenshots/favicon.ico" />
    <link rel="shortcut icon" href="screenshots/favicon.ico" />
</head>
<body>
    <div class="nav-bar">
        <div class="nav-bar-container">
                <a href="#"><img src="https://cdn.discordapp.com/attachments/816200336108552192/816407821641318490/logo.png" width="120" height="70" alt="" /></a>
                <a class="top-nav-home" href="/">Home</a>
        </div>
    </div>
    <div class="site-content">
        <div class="site-content-header">
            <div class="site-content-header-up">
                
            </div>
    <h1>About Us</h1>
    <p>Covid-19InfoNewcomers is created by four VCC students and the idea came from one of the team members and discussed in the group.Covid-19InfoNewcomers is the website that gathers all the information when the travellers entry Canada. In addition, it is providing the necessary information these travellers need, such as renting a room, food delivery，car rental etc. 
It is a one-stop place designed for the travellers to do the 14 days self-qurantine during the Covid-19. We can contact these travelers and update their health situation.</p>
</body>    
</html> 




