<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'app.css')}}" type="text/css" media="screen" />
    <!-- <link rel="stylesheet" href="../static/app.css" type="text/css" media="screen" /> -->
    <link rel="icon" href="screenshots/favicon.ico" />
    <link rel="shortcut icon" href="screenshots/favicon.ico" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
</head>
<body>
    <div class="nav-bar">
        <div class="nav-bar-container">
            <a href="#"><img src="https://cdn.discordapp.com/attachments/816200336108552192/816407821641318490/logo.png" width="120" height="70" alt="" /></a>
            <a class="top-nav-home" href="/">Home</a>
        </div>
    </div>
    <div class="site-content">
        <div class="site-content-header">
            <div class="site-content-header-up">
                <p>How do you go about finding a new roommate during a pandemic?  Below we’ve provided some resources and tips</p>
            </div>
            <div class="site-content-header-down">
                <h1>Renting a Room during COVID-19<h1>
            </div>
        </div>
        <div class="site-content-main">
            <div class="rent-order-section">
                <div class="rent-order-section-title"><p style="color: #e64142;">Save up to 60% on Rooms</p></div>
                <div class="rent-order-section-input">
                    <div style="margin-top: 30px;display:flex;"> 
                        <div class="input-icons">
                            <div class="icon-items">
                                <i class="fa fa-map-marker icon"></i> 
                                <input class="input-field" type="text" placeholder="Enter city, airport or address"> 
                            </div>
                        </div>
                        <div class="input-icons" style="width:10rem;">
                            <input type="date" class="icon i" style="height:2.5rem;" value="2021-01-01">
                        </div>
                        <div class="input-icons" style="width:10rem;">
                            <input type="date" class="icon i" style="height:2.5rem;" value="2021-01-01">
                        </div>
                        <div class="input-icons">
                            <div class="icon-items">
                                <i class="fa fa-user icon"></i> 
                                <input class="input-field" type="text" placeholder="1 Room, 2 Adults, 0 Children"> 
                            </div>
                        </div>
                  </div> 
                </div>
                <div class="rent-order-section-btn">
                    <button class="room-btn">Find A Room</button>
                </div>
            </div>
            <img src="../static/img/renthouse.png">
            <div class="txt-content">
                <div class="txt-content-head">
                    <h1>Renting During COVID-19: Finding a Roommate<h1>
                </div>
                <p>The COVID-19 situation is fluid, evolving daily and pushing us to make adjustments in our lives as we prepare for the next phase of re-opening and adapting to new lifestyles. Many are rethinking their living situations, and that can often mean finding a new roommate to share your home.</p>
                <p>In terms of student housing in particular, many uncertainties remain; as quarantine began, some students left empty rooms behind to return home – their return date to Vancouver unclear. Meanwhile, those that remain may be looking to fill the vacated rooms until, at least, in-person instruction begins. </p>
                <p>But how do you go about finding a new roommate during a pandemic?  Below we’ve provided some resources and tips to help you secure a roommate during this time when social distancing, sanitizing and quarantine restrictions pervade our thoughts and actions.</p>
            </div>
        </div>
    </div>
</body>
</html>
